{% extends "layout.html" %}

{% block title %}OGRe - Ajouter un membre{% endblock %}



{% block content %}
<div id="content_header">
<span class="header_title">Ajout d'un nouveau membre</span>
</div>
<div id="content_main">
<div id="content_main_body">
<br />
<form action='{% url "member_add" %}' method="post">{% csrf_token %}
<div id='member_add_form'>
<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell" style="text-align:center;">Pr&eacute;nom</th>
        	<th class="baseCell" style="text-align:center;">Nom</th>
            <th class="baseCell" style="text-align:center;">Mail</th>
        	<th class="baseCell" style="text-align:center;">Recevoir les news</th>
        	<th class="baseCell" style="text-align:center;">Chambre</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
<tr>


{% for field in member_add_form %}
        <td class="baseCell" style="text-align:center;">{{ field }} {% for error in field.errors %}<p style="color:#FF0000">{{ error }}</p> {% endfor %}</td>
{% endfor %}
</tr>
</tbody>
</table>
</div>

<div id='member_reg_form'>
        {% for field in member_reg_form %}
        <p>{{ field.label_tag }} : {{ field }} {% for error in field.errors %}<p style="color:#FF0000">{{ error }}</p> {% endfor %}</p>
        {% endfor %}
</div>



<div id="machine_add_form">
<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell" style="text-align:center;">Adresse MAC</th>
        	<th class="baseCell" style="text-align:center;">Nom de la machine</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">

{{ machine_add_formset.management_form }}
{% for machine_form in machine_add_formset %}
        <tr>    
        {% for field in machine_form %}
                <td class="baseCell" style="text-align:center;">{{ field }} {% for error in field.errors %}<p style="color:#FF0000">{{ error }}</p>{% endfor %}</td>
        {% endfor %}
        </tr>
{% endfor %}

</tbody>
</table>
</div>
<br />
        <input type="submit" value="Ajouter" style="float:right;" />
</form>
<br />
</div>
</div>
{% endblock %}