{% extends "layout.html" %}

{% block title %}OGRe - Membre{% endblock %}


{% block content %}
<div id="content_header">
<span class="header_title">Editer une machine</span>
</div>
<div id="content_main">
<div id="content_main_body">
<br />

<div>


<table class="table_base_bordered_">
	<thead>
		<tr>
    		
        	<th class="baseCell">Adresse MAC</th>
            <th class="baseCell">Nom de la machine</th>
        	<th class="baseCell">Actions</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
		<tr>
        	<form action="{% url "member_edit_machine" member_id machine.mac %}" method="post">{% csrf_token %}
        
        {% for field in machine_add_form %}
                <td class="baseCell">{{ field }}{% for error in field.errors %}<p style="color:#FF0000">{{ error }}</p> {% endfor %}</td>
        {% endfor %}
        
       

                
                <td class="baseCell" colspan="2"><input type="submit" value="Modifier" class="link"/><a href="{% url "member_show" member_id %}" class="link" style="float:right;">Annuler</a></td>
             </form>   
        </tr>

</table>

</div>

</div>
</div>
{% endblock %}