{% extends "layout.html" %}

{% block title %}OGRe - Modifier un membre{% endblock %}



{% block content %}
<div id="content_header">
<span class="header_title">Ajout d'un nouveau membre</span>
</div>
<div id="content_main">
<div id="content_main_body">
<br />
<form action='{% url "member_edit_infos" member.id %}' method="post">{% csrf_token %}
<div id='member_form'>
<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell" style="text-align:center;">Prénom</th>
        	<th class="baseCell" style="text-align:center;">Nom</th>
            <th class="baseCell" style="text-align:center;">Mail</th>
        	<th class="baseCell" style="text-align:center;">Recevoir les news</th>
        	<th class="baseCell" style="text-align:center;">Chambre</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
<tr>


{% for field in member_form %}
        <td class="baseCell" style="text-align:center;">{{ field }} {% for error in field.errors %}<p style="color:#FF0000">{{ error }}</p> {% endfor %}</td>
{% endfor %}
</tr>
</tbody>
</table>
</div>

<br />
        <input type="submit" value="Enregistrer" style="float:right;" />
        <a href="{% url "member_show" member.id %}" class="link" style="float:right;">Annuler</a>
</form>
<br />
</div>
</div>
{% endblock %}