{% extends "layout.html" %}

{% block title %}OGRe - Home{% endblock %}


{% block content %}
<div id="content_header">
<span class="header_title">Liste des membres</span>
</div>
<div id="content_main">
<div id="content_main_searchbar">

<a href={% url "member_add" %} class="link" style="float:right;">Ajouter un nouveau membre</a>

<form action="{% url "member_home" %}" method="post">{% csrf_token %}
        <label style="color:#FFFFFF;">Trier par : </label>{{ order_form.order_by }}
        <input type="submit" value="Go !"/>
</form>
</div>
<div id="content_main_body">
<br /><br /><br />
{% if member_page.object_list %}
<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell">Prénom</th>
        	<th class="baseCell">Nom</th>
            <th class="baseCell">Mail</th>
        	<th class="baseCell">Chambre</th>
        	<th class="baseCell">Action</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
{% for member in member_page %}
        <tr>
                <td class="baseCell">{{ member.firstname|capfirst }}</td>
                <td class="baseCell">{{ member.lastname|capfirst }}</td>
                <td class="baseCell">{{ member.email }}</td>
                <td class="baseCell">{{ member.room }}</td>
                <td class="baseCell"><a href="{% url "member_show" member.id %}" class="link">Voir</a></td>
        </tr>
{% endfor %}
	</tbody>
</table>
<br />
{% else %}
<p>Il n'y a encore aucun membre. Ajoutez-en !</p>
{% endif %}

<center>
<span class="step-links">
{% if member_page.has_previous %}
        <a href="{% url "member_home" %}?page={{ member_page.previous_page_number }}&order_by={{ order_by }}" class="link">Précédente</a> -
{% endif %}

<span class="current">
        Page {{ member_page.number }} sur {{ member_page.paginator.num_pages }}
</span>

{% if member_page.has_next %}
        - <a href="{% url "member_home" %}?page={{ member_page.next_page_number }}&order_by={{ order_by }}" class="link">Suivante</a>
{% endif %}
</span>
</center>

</div>
{% endblock %}