{% extends "layout.html" %}

{% block title %}OGRe - Membre{% endblock %}


{% block content %}
<div id="content_header">
<span class="header_title">Renouvellement</span>
</div>
<div id="content_main">
<div id="content_main_body">
	<br/>
	<div>
		<ul>
			<li><b>Prénom :</b> {{ member.firstname }}</li>
			<li><b>Nom : </b> {{ member.lastname }}</li>
			<li><b>Chambre : </b> {{ member.room }}</li>
		</ul>
	</div>
	<div id='member_reg_form'>
		<form action="{% url "member_renew" member.id %}" method="post">{% csrf_token %}
		{% for field in member_renew %}
		<p>{{ field.label_tag }} : {{ field }} {% for error in field.errors %}<p style="color:#FF0000">{{ error }}</p> {% endfor %}</p>
		{% endfor %}
		<input type="submit" value="Enregistrer" class="link"/>
	</div>
</div>
</div>
{% endblock %}