{% extends "layout.html" %}

{% block title %}OGRe - Membre{% endblock %}


{% block content %}
<div id="content_header">
<span class="header_title">Informations du membre</span>
</div>
<div id="content_main">
<div id="content_main_body">
<br />

<div>

<p>
{% if can_renew %}<a href="{% url "member_renew" member.id %}" class="link">Renouveller</a>{% endif %}
{% if can_extend %}<a href="{% url "member_extend" member.id %}" class="link">Prolonger</a>{% endif %}
<p>

<h3 style="display:inline;">Informations</h3><a href="{% url "member_edit_infos" member.id %}" class="link" style="float:right;">Modifier</a>
<br /><br />
<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell">Prénom</th>
        	<th class="baseCell">Nom</th>
            <th class="baseCell">Mail</th>
        	<th class="baseCell">Chambre</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
        <tr>
                <td class="baseCell">{{ member.firstname }}</td>
                <td class="baseCell">{{ member.lastname }}</td>
                <td class="baseCell">{{ member.email }}</td>
                <td class="baseCell">{{ member.room }}</td>
        </tr>
	</tbody>
</table>
<ul>
        <li><b>Inscription valide : </b><input type="checkbox" {% if member.regvalid %}checked{% endif %} disabled/></li>
        <li><b>Bloqué : </b><input type="checkbox" {% if member.blocked %}checked{% endif %} disabled/></li>
        <li><b>Recevoir des news : </b><input type="checkbox" {% if member.newsok %}checked{% endif %} disabled/></li>
</ul>
<ul>
        <li><b>Inscrit le : </b>{{ member.regfrom }}</li>
        <li><b>Cotisation jusqu'au : </b>{{ member.networkuntil }}</li>
</ul>
</div>
<div>
<h3>Paiements</h3>

<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell">Date</th>
        	<th class="baseCell">Type</th>
            <th class="baseCell">Montant</th>
        	<th class="baseCell">Commentaire</th>
            <th class="baseCell">Action</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
    {% for payment in payments %}
        <tr>
                <td class="baseCell">{{ payment.date }}</td>
                <td class="baseCell">{{ payment.type }}</td>
                <td class="baseCell">{{ payment.amount }}</td>
                <td class="baseCell">{{ payment.comment }}</td>
                <td class="baseCell"><a href="{% url "member_edit_payment" member.id payment.id %}" class="link">Modifier</a></td>
        </tr>
        {% endfor %}
	</tbody>
</table>

</div>
<div>
<h3>Machines</h3>

<table class="table_base_bordered_">
	<thead>
		<tr>
    		<th class="baseCell">Adresse IP</th>
        	<th class="baseCell">Adresse MAC</th>
            <th class="baseCell">Nom de la machine</th>
        	<th class="baseCell" colspan="2" style="text-align:center;">Actions</th>
    	</tr>
	</thead>
    <tbody class="tbody_nn_">
		<tr>
        <td class="baseCell"></td>
        	<form action="{% url "member_add_machine" member.id %}" method="post">{% csrf_token %}
        
        {% for field in machine_add_form %}
                <td class="baseCell">{{ field }}</td>
        {% endfor %}
        
       

                
                <td class="baseCell" colspan="2" style="text-align:center;"><input type="submit" value="Ajouter" class="link"/></td>
             </form>   
        </tr>

        {% for machine, ip in machines%}
        <tr>
                <td class="baseCell">{{ ip }}</td>
                <td class="baseCell">{{ machine.mac }}</td>
                <td class="baseCell">{{ machine.name }}</td>
                <td class="baseCell" style="text-align:center;"><a href="{% url "member_edit_machine" member.id machine.mac %}" class="link">Modifier</a></td>
                <td class="baseCell" style="text-align:center;"><a href="{% url "member_del_machine" member.id machine.mac %}" onclick="return confirm('Supprimer la machine ?')" class="link">Supprimer</a></td>
        </tr>
        {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}