@charset "utf-8";

body {
background-color:#FFFFFF;
font-family:"Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#menu {
position:fixed;
top:0px;
left:0px;
bottom:0px;
width:130px;
background-color:#444444;
border-right:1px solid black;
padding:7px;
}

#content {
top:0px;
left:145px;
right:0px;
bottom:0px;
padding:0px;
}

#content_header {
position:fixed;
background-color:#444444;
color:#FFFFFF;
padding:5px;
top:0px;
right:0px;
left:145px;
height:18px;
z-index:2;
}

#content_main {
position:absolute;
top:29px;
left:144px;
right:0px;
bottom:0px;
padding:10px;
}

#content_main_searchbar {
position:fixed;
background-color:#444444;
padding:7px;
top:28px;
left:145px;
right:0px;
z-index:5;
}

#content_main_body {
position:relative;
z-index:1;
margin-bottom:15px;
}

#messages {
position:fixed;
z-index:99999;
top:0px;
padding:5px;
left:145px;
right:0px;
height:auto;
min-height:18px;
background-color:#993300;
}
button {
border-radius:5px;
height:30px;
border:1px solid #444444;
padding:5px;
font-size:18px;
}
button:hover {
background-color:#CCCCCC;
cursor:pointer;
}

button[class*=delete] {
padding-top:-5px;
padding:0px;
border-radius:5px;
background: -moz-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d91023), color-stop(150%, #9c0009));
background: -webkit-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: -o-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: -ms-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: linear-gradient(top, #d91023 0%, #9c0009 150%);
color:#FFFFFF;
width:25px;
height:25px;
font:10px;
cursor:pointer;
display:inline;
}
button[class*=delete]:hover {
background: -moz-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9202c), color-stop(300%, #9c0009));
background: -webkit-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: -o-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: -ms-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: linear-gradient(top, #e9202c 0%, #9c0009 300%);
cursor:pointer;
}
button[class*=delete]:active {
background: -moz-linear-gradient(top, #9c0009 0%, #d91023 200%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c0009), color-stop(200%, #d91023));
background: -webkit-linear-gradient(top, #9c0009 0%, #d91023 200%);
background: -o-linear-gradient(top, #9c0009 0%, #d91023 200%);
background: -ms-linear-gradient(top, #9c0009 0%, #d91023 200%);
background: linear-gradient(top, #9c0009 0%, #d91023 200%);
}

.header_title
{
font-weight:bold;
}





select {
border-radius:5px;
height:30px;
border:1px solid #444444;
padding:2px;
font-size:16px;
}

input[type=text]
{
border-radius:5px;
height:20px;
border:1px solid #444444;
font-size:16px;
padding:3px;
}
input[type=text]:hover
{
border:1px solid #aaaaaa;
}
input[type=text]:focus
{
outline:none;
border:1px solid #aaaaaa;
}

input[type=submit] {
border-radius:5px;
height:30px;
border:1px solid #444444;
padding:3px;
font-size:16px;
}

input[type=submit]:hover {
border:1px solid #aaaaaa;
}

.headerLink {
color:#FFFFFF;
text-decoration:none;
font-size:15px;
}
.headerLink:hover {
color:#CCCCCC;
text-decoration:underline;
}
.headerLink:active {
color:#CCCCCC;
text-decoration:underline;
}

.link {
padding:5px;
background-color:#999999;
border-radius:5px;
color:#ffffff;
text-decoration:none;
font-size:15px;
}
.link:hover {
color:#333333;
background-color:#CCCCCC;
}
.link:active {
color:#333333;
background-color:#CCCCCC;
}



