@charset "utf-8";
/* Tables */
table[class*=base] {
border-spacing:0;
   width:100%;
}

.baseCell
{
   border-bottom: 1px solid #BEBEBE;
   padding:13px;
   text-align:left;
   color:#333333;
}
th
{
border-bottom:none;
   padding:13px;
   text-align:left;
   color:#333333;
}

table[class*=bordered]
{
border:1px solid #BEBEBE;
}
table[class*=radius-15]
{
border-radius:15px;
}
table[class*=radius-10]
{
border-radius:10px;
}
table[class*=radius-5]
{
border-radius:5px;
}



/* Tableau 2n+1 color lines [CLASS = nn_]*/
tbody[class*=nn] tr:nth-child(2n)
{
background-color:#FFFFFF;
}
tbody[class*=nn] tr:nth-child(2n+1)
{
background-color:#F2F2F2;
}
tbody[class*=hover] tr:nth-child(2n):hover
{
background-color:#CCCCCC;
}
tbody[class*=hover] tr:nth-child(2n+1):hover
{
background-color:#CCCCCC;
}
/* IMPORTANT : LE RANK PASSE AVANT LE 2N */
/* Tableau De RANK [CLASS = rank_]*/
tbody[class*=rank] tr:nth-child(1)
{
background-color:#FFFF00;
}
tbody[class*=rank] tr:nth-child(2)
{
background-color:#CCCCCC;
}
tbody[class*=rank] tr:nth-child(3)
{
background-color:#CC6633;
}
/* RANK COLORS | Pass after nn_ */
tbody[class*=hover][class*=rank] tr:nth-child(1):hover
{
background-color:#FCF574;
}
tbody[class*=hover][class*=rank] tr:nth-child(2):hover
{
background-color:#B5B5B5;
}
tbody[class*=hover][class*=rank] tr:nth-child(3):hover
{
background-color:#e87b44;
}

/* To Color A Line tbody[CLASS = color_] & tr[CLASS = selectedColor_] */
tbody tr[class*=red]
{
background: -moz-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d91023), color-stop(150%, #9c0009));
background: -webkit-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: -o-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: -ms-linear-gradient(top, #d91023 0%, #9c0009 150%);
background: linear-gradient(top, #d91023 0%, #9c0009 150%);
}
tbody[class*=hover] tr[class*=red]:hover
{
background: -moz-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9202c), color-stop(300%, #9c0009));
background: -webkit-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: -o-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: -ms-linear-gradient(top, #e9202c 0%, #9c0009 300%);
background: linear-gradient(top, #e9202c 0%, #9c0009 300%);
}
tbody tr[class*=blue]
{
background: -moz-linear-gradient(top, #1b88ce 0%, #156ba1 150%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b88ce), color-stop(150%, #156ba1));
background: -webkit-linear-gradient(top, #1b88ce 0%, #156ba1 150%);
background: -o-linear-gradient(top, #1b88ce 0%, #156ba1 150%);
background: -ms-linear-gradient(top, #1b88ce 0%, #156ba1 150%);
background: linear-gradient(top, #1b88ce 0%, #156ba1 150%);
}
tbody[class*=hover] tr[class*=blue]:hover
{
background: -moz-linear-gradient(top, #32a5ef 0%, #156ba1 200%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32a5ef), color-stop(200%, #156ba1));
background: -webkit-linear-gradient(top, #32a5ef 0%, #156ba1 200%);
background: -o-linear-gradient(top, #32a5ef 0%, #156ba1 200%);
background: -ms-linear-gradient(top, #32a5ef 0%, #156ba1 200%);
background: linear-gradient(top, #32a5ef 0%, #156ba1 200%);
}
tbody tr[class*=green]
{
background: -moz-linear-gradient(top, #1fd023 0%, #08a00b 150%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1fd023), color-stop(150%, #08a00b));
background: -webkit-linear-gradient(top, #1fd023 0%, #08a00b 150%);
background: -o-linear-gradient(top, #1fd023 0%, #08a00b 150%);
background: -ms-linear-gradient(top, #1fd023 0%, #08a00b 150%);
background: linear-gradient(top, #1fd023 0%, #08a00b 150%);
}
tbody[class*=hover] tr[class*=green]:hover
{
background: -moz-linear-gradient(top, #00da05 0%, #08a00b 300%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00da05), color-stop(300%, #08a00b));
background: -webkit-linear-gradient(top, #00da05 0%, #08a00b 300%);
background: -o-linear-gradient(top, #00da05 0%, #08a00b 300%);
background: -ms-linear-gradient(top, #00da05 0%, #08a00b 300%);
background: linear-gradient(top, #00da05 0%, #08a00b 300%);
}

