{% extends "layout.html" %}

{% block title %}OGRe - Recherche{% endblock %}

{% block content %}

<div id="content_header">
<span class="header_title">Rechercher parmis les membres</span>
</div>
<div id="content_main">
<div id="content_main_searchbar">

<form action='{% url "search.views.home" %}' method="post" style="display:inline;">{% csrf_token %}
{% for field in form %}
        {%if field.label_tag == '' %}{{ field.label_tag }} : {% endif %}{{ field }}
{% endfor %}
        <input type="submit" value="Rechercher" />
</form>
<a href={% url "member_add" %} class="link" style="float:right;">Ajouter un nouveau membre</a>
</div>


<div id="content_main_body" style="margin-bottom:15px;">
<br /><br /><br /><br />
<table class="table_base_bordered_">
<thead><tr><th class="baseCell">Prénom</th><th class="baseCell">Nom</th><th class="baseCell">Chambre</th><th class="baseCell">Action</th></tr></thead>
<tbody class="tbody_nn_">

{% for member in members %}

<tr><td class="baseCell">{{member.firstname|capfirst}}</td><td class="baseCell">{{member.lastname|capfirst}}</td><td class="baseCell">{{member.room}}</td>
<td class="baseCell"><a href="{% url "member_show" member.id %}" class="link">Voir</a></td></tr>


{% empty %}
<tr><td class="baseCell" colspan="4">Aucun membre à afficher</td></tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}