{% load static %}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8" />
                <title>{% block title %}OGRe - Accueil{% endblock %}</title>
                <link rel="stylesheet" media="all" href="{% static "css/base.css" %}" type="text/css" />
				<link rel="stylesheet" media="all" href="{% static "css/tables.css" %}" type="text/css" />
        </head>
        <body>
                <div id="menu">
                {% block header %}
                	<table width="100%">
						<tr>
							<td style="text-align:center;">
                            <h1 style="color:#FFFFFF; display:inline;">OGRe</h1>
							</td>
						</tr>
						<tr>
							<td>
								<a href="{% url "member_home" %}" class="headerLink">Membres</a>
							</td>
						</tr>
                        <tr>
                        	<td>	
                            	<a href="{% url "search_home" %}" class="headerLink">Recherche</a>
                            </td>
                        </tr>				
					</table>
                {% endblock %}
                </div>
                {% if messages %}
                <div id="messages">
                        {% for message in messages %}
                                <span style="display:block;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                                
                        {% endfor %}
                        <button class="delete" onClick="document.getElementById('messages').style.display='none';" style="float:right; display:inline-block;">&times;</button>
                
                </div>
                {% endif %}
                <!-- <div>{% block nav %}{% endblock %}</div> -->
                <div id="content">{% block content %}{% endblock %}</div>
                <div id="footer">{% block footer %}{% endblock %}</div>
        </body>
</html>